.grid-container {
  // width: 720px;
  width: 100%;
  margin: 0 auto;
}

.grid-row {
  width: 100%;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.grid-item {
  height: auto;
  margin-bottom: 10px;
  padding: 0px 15px;
  background-color: yellowgreen;
  float: left;
}

.pull-right {
  float: right;
}

.grid-col {
  @for $i from 1 through 12 {
    &-#{$i} {
      @extend .grid-item;
      width: #{$i / 12 * 100%};
    }
  }
}
