@media only screen and (min-width: 1020px) {
  .grid-container {
    width: 960px;
  }

  .grid-col {
    @for $i from 1 through 12 {
      &-#{$i}-desktop {
        background-color: lightgreen;
        width: #{$i / 12 * 100%};
      }
    }
  }
}
