@media only screen and (min-width: 1180px) {
  .grid-container {
    width: 1120px;
  }

  .grid-col {
    @for $i from 1 through 12 {
      &-#{$i}-big-desktop {
        background-color: lightcyan;
        width: #{$i / 12 * 100%};
      }
    }
  }
}
