@media only screen and (min-width: 740px) {
  .grid-col {
    @for $i from 1 through 12 {
      &-#{$i}-tablet {
        background-color: lightsalmon;
        width: #{$i / 12 * 100%};
      }
    }
  }
}
