doctype html
html
  header
    title something
    link(rel="stylesheet", href="/main.css")
  body
    header.grid-container
      nav.grid-row
        .grid-col-3.grid-col-1-tablet
          h1 logo
        .grid-col-1
          a link 1
        .grid-col-1
          a link 2
        .grid-col-1
          a link 3
    section.grid-container
      .grid-row
        .grid-col-12.grid-col-6-tablet
          h2 We invest in companies like Uber
          p In just seven years, uber has had an almost unforeseeable impact on urban transportation. What's incredible is that there's still so much opportunity ahead of them. We're thrilled to be a part of that journey.
          .grid-row
            .grid-col-2
              p some picture
            .grid-col-10
              p David Krane
              p CEO & Managing partner at GV
        .grid-col-12.grid-col-6-tablet
          h2 some picture
    section.grid-container
      .grid-row
        .grid-col-12.grid-col-6-tablet
          h2 Our story
          p Launched as Google Ventures in 2009, GV is the venture capital arm of Alphabet, Inc. We’ve invested in more than 300 companies that push the edge of what’s possible. In the fields of life science, healthcare, artificial intelligence, robotics, transportation, cyber security, and agriculture, our companies aim to improve lives and change industries.
          p We’ve built a team of world-class engineers, designers, physicians, scientists, marketers, and investors who work together to provide these startups exceptional support on the road to success. We help our companies interface with Google, providing unique access to the world’s best technology and talent.
        .grid-col-12.grid-col-6-tablet
          p some picture
    footer.grid-container
      .grid-row
        .grid-col-12.grid-col-3-tablet.grid-row
          .grid-col-3.grid-col-12-tablet
            p facebook
          .grid-col-3.grid-col-12-tablet
            p twitter
        .grid-col-12.grid-col-3-tablet
          p press page
          p privacy policy
        .grid-col-12.grid-col-3-tablet
          p this site is cool
          p copyright 2017
